@{
    var TempVal1 = ViewData["tempVal1"].ToString();
    var TempVal2 = ViewData["tempVal2"].ToString();
    var TempVal3 = ViewData["tempVal3"].ToString();

    var HumVal1 = ViewData["humVal1"].ToString();
    var HumVal2 = ViewData["humVal2"].ToString();
    var HumVal3 = ViewData["humVal3"].ToString();
}


<div class="jumbotron" style="background-color:hotpink">

    <img src="~/Flink.svg" />

    <h2></h2>
    <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>-->
    <div class="row">
        <!-- <div class="col-md-4">
             <h2>Getting started</h2>
             <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
             a broad range of clients, including browsers and mobile devices. ASP.NET Web API
             is an ideal platform for building RESTful applications on the .NET Framework.</p>
             <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
         </div>
         <div class="col-md-4">
             <h2>Get more libraries</h2>
             <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
             <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
         </div>
         <div class="col-md-4">
             <h2>Web Hosting</h2>
             <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
             <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
         </div>-->
    </div>

    <div class="jumbotron" style="background-color:white">


        <h7>Kühlschrank  1</h7>

        <h1>@TempVal1 °C    </h1>
        <h7>Max: 50 °C    </h7>
        <h7>Min: 10 °C    </h7>
        <h7>Hum: @HumVal1 %</h7>
        <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>-->
        <div class="row">
            <!-- <div class="col-md-4">
                <h2>Getting started</h2>
                <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
            </div>-->
        </div>
    </div>
    <div class="jumbotron" style="background-color:white">


        <h7>Kühlschrank  2</h7>
        <h1>@TempVal2 °C    </h1>
        <h7>Max: 50 °C    </h7>
        <h7>Min: 10 °C    </h7>
        <h7>Hum: @HumVal2 %</h7>
        <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>-->
        <div class="row">
            <!-- <div class="col-md-4">
                <h7 style="font-size:x-small;">Max: 50 °C   </h7>
                <h2>Getting started</h2>
                <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
            </div>-->
        </div>

    </div>
    <div class="jumbotron" style="background-color:white">


        <h7>Kühlschrank  3</h7>
        <div style="display: flex;">
            <div>  <h1>@TempVal3 °C  </h1></div>
            <div style="width:350px;height:225px; margin-left: 170px;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <h7>Max: 50 °C    </h7>
        <h7>Min: 10 °C    </h7>
        <h7>Hum: @HumVal3 %</h7>
    </div>
        
        
       
        <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>-->
        <div class="row">
            <!-- <div class="col-md-4">
            <h7 style="font-size:x-small;">Max: 50 °C   </h7>
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>-->
            @*<div style="width:250px;height:100px;">
                <canvas id="myChart"></canvas>
            </div>*@

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>

    </div>
